* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}

.colorBtn {
	padding:0.5rem 1rem;
	border:3px solid #fefefe;
	border-radius: 7px;
	color:#fefefe;
	background-color: rgba(0,0,0,0.6);
	font-size: 1.2rem;
	text-transform: capitalize;
	cursor: pointer;
	outline: none;
}

.colorBtn:hover {
	background-color: rgb(0,0,0);
}