* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	background:url('img/tech.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;

}

.counter-box {
	flex:0 0 70%;
	text-align: center;
	border:3px solid grey;
	padding:1rem;
	font-weight: bold;
	box-shadow: 3px 3px 10px 10px #000;
}


.counter {
	font-size: 6rem;
}

.btn {
	background:#fff;
	border-radius: 8px;
	font-size: 1.5rem;
	padding:0.5rem;
	margin: 0.5rem 0.25rem;
	border:3px solid #f15025;
	box-shadow: 0px 5px #001221;
	outline: none;
}

.btn:hover {
	background-color: #4caf50;
	color:#fff;
}

.btn:active {
	box-shadow: none;
}