* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffd0a8;
	color: #333;
	font-family: 'calibre', sans-serif;
	font-weight: 400;
	text-transform: capitalize;
}

.container {
	text-align: center;
	padding:2rem;
	border-radius: 5px;
	background-color: #fff;
	flex: 0 0 80%;
}

#quoteBtn {
	border:none;
	color:#fff;
	background:#d89156;
	font-size: 1.2rem;
	padding:0.5rem 1rem;
	border-radius: 7px;
	cursor: pointer;
	margin: 20px auto;
	outline:none;

}

#quoteBtn:hover {
	color:#ffd000;
}

blockquote {
	background:#f9f9f9;
	border-left: 10px  solid #fcdbbf;
	margin:1rem;
	padding:0.5rem;

}

#quoteAuthor {
	color:#ffd000;
}